<div class="w3-card-4 w3-margin w3-display-middle w3-round-large">
  <div class="w3-container w3-blue w3-round-large">
    <h3>Weather Checker</h3>
  </div>
  <div class="w3-center">
    <label class="w3-text-blue" style="font-size: 35px; font-weight:bold">{{{city}}}</label>
  </div>
  <div class="w3-center">
    <label class="w3-text-white" style="font-weight:bold; font-size: 50px; text-shadow:0 0 4px #1fb4c2">{{{temp}}}&deg;C</label>
    <br>
    <label class="w3-margin" style="color:tomato; font-weight:bold">{{{humidity}}}</label>
  </div>
  <div class="w3-center w3-margin">
    <a href="/" class="w3-btn w3-red w3-round-large">Back</a>
  </div>
  <div class="w3-center w3-margin-bottom">
    <label class="w3-text-blue">Created by <a href="https://github.com/NihalP01">NihalP01</a></label>
  </div>
    {{!-- <h2>Weather Checker</h2>
  </div>
  <div class="w3-container">
    <div class="w3-section w3-center">
      <p style="font-size: 22px;">{{{city}}}</p>
    </div>
    <h1 class="w3-center">{{{temp}}}&deg;C</h1>
    <div class="w3-center w3-margin-bottom">
      <a class="w3-button w3-blue w3-round-large" href="/">Back</a>
    </div> --}}
  </div>
</div>


{{!-- <div class="container">
  <div class="card">
    <div class="row">
      <div class="col-9 left">
        <div class="row top">
          <div class="col" style="font-size: 35px;">Weather in {{{city}}}</div>
          <div class="col" style="font-size: 18px;">{{{date}}}</div>
        </div>
        <div class="row">
          <div class="col-7 temp">{{{temp}}}&deg;C</div>
          <div class="col-5 time">
            <p style="text-align: center">{{{humidity}}}</p>
          </div>
          <div class="my-div">
            <a href="/" class="my-btn">Back</a>
          </div>
          <div>
            <p class="w3-center">Created By <a href="https://github.com/NihalP01">NihalP01</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div> --}}